@charset "UTF-8";
  /* ? */
  /* todo */
body {
  margin: 0px;
  width: 100%;
}

:root {
  /* __________Color___________ */
  --blue: #27348B;
  --blue_light: #C6E7FB;
  --yellow: #FFDE00;
  --orange: #F39200;
  --green: #016930;
  --black: #000;
  --black_text: #000;
  --white: white;
  --grey: #F2F2F2;
  --transparent: rgba(0, 0, 0, 0);

/* __________Border___________ */
  --underline: 2px;
  --line_thick: 3px;
/* __________fonts___________ */
  --font-xsmall: 0.6em;
  --font-small: 15px;
  --font-big: 1.6em;
  --font-grande: 2em;
  --font-head: 2em;

/* __________spacings___________ */
  --space12: 0.8em;
  --space20: 1.25em;
  --space40: 2.5em;
  --space80: 5em;

}


.yellow {
  background: var(--yellow);
}

.blue_light {
  background: var(--blue_light);
}
.black_back{
  background: var(--black);
}
.white_back {
  background: var(--white);
}
.white_typo {
  color: var(--white);
}
.blass_typo {
  opacity: 0.4;
}
.white_border {
  border-color: var(--white)!important;
}
.green {
  background: var(--green);
}
.orange_typo {
  color: var(--orange);
  border-color: var(--orange)!important;
}
/* _____________foundation hecks______________ */
html, body, p{
  line-height: unset;
}
.button{
  background-color: unset;
  color: unset;
  margin: unset;
  padding: unset;
  border: unset;
}

.stack, .stack_sized {
  -webkit-box-sizing: unset;
  box-sizing: unset;
}

.top-bar, .top-bar ul {
  background-color: unset;
}
.top-bar .top-bar-right {
  -webkit-box-flex: unset;
  -webkit-flex: unset;
  -ms-flex: unset;
  flex: unset;
}
.menu a{
  padding: unset;
}
.top-bar{
  padding: 0.5rem 0.8rem;
}
.menu .active > a {
  background-color: unset;
  color: var(--orange);
}
a:focus, a:hover {
  color: var(--blue);
}
.dl, ol, ul {
  list-style-position: outside;
  line-height: inherit;
}

.grid-container {
  padding-right: .8rem;
  padding-left: .8rem;
}
/* _____________foundation end______________ */


*, html {
  font-family: "TTHoves-Medium", Helvetica, Arial, sans-serif;
  font-size: var(--font-small);
  font-feature-settings: 'ss03', 'ss04';
}

h1 {
  font-family: "TTHoves-DemiBoldItalic", Helvetica, Arial, sans-serif;
  font-feature-settings: "c2sc", "smcp";
  font-size: var(--font-head);
  margin: 20px 0px 0px 0px;
  line-height: 1.1;
  text-transform: uppercase;
}

.branding h1{
  margin: 0px;
}

h3, h4, .mail_address, .number {
  font-family: "TTHoves-DemiBold", Helvetica, Arial, sans-serif;
  font-size: var(--font-big);

}
h3 {
  line-height: 1.2em;
}
h2 {
  font-family: "TTHoves-DemiBold", Helvetica, Arial, sans-serif;
  font-size: var(--font-big);
  line-height: 1.3em;
  margin-bottom: 0px;
}

h4 {
  font-size: var(--font-small);
  line-height: 1.3em;
  margin: 20px 0px 0px 0px;
}


p {
  margin: 0px;
  /* font-size: 1.25em; */
}
.headline_center{
  text-align: center;
  grid-column: 3 /-3
}

.big_brot, .big_brot_container p, .big_brot_container span {
  font-size: var(--font-big);
  line-height: 1.12em;
}
.big_brot_container p:not(:first-of-type) {
  text-indent: 0.5em;
}


.normal_brot, .normal_brot p, .normal_brot span {
  font-size: var(--font-small);
}
.light_brot_sturz span {
  font-family: "TTHoves-Light", Helvetica, Arial, sans-serif;
  opacity: 0.4;
  letter-spacing: 0.8px;
}
.small_brot, .small_brot p {
  font-size: var(--font-xsmall);
}

.center{
  text-align: center;
}
span {}

a {
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
  padding-left: 0px;
}

ul li::before {
  content: "■";
  color: var(--orange);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1.3em;
}

li{
  margin-bottom: 10px;
}
.link {
  border-bottom: var(--underline) solid var(--orange);
}
.link:hover {
border-bottom: var(--underline) dashed var(--orange);
border-bottom-width: 2.5px;
}

.link_white {
  border-bottom: var(--underline) solid var(--white);
}
.link_white:hover {
  border-bottom: var(--underline) dashed var(--white);
  border-bottom-width: 2.5px;
}

.menu_link, .first_menu_link {
  font-family: "TTHoves-DemiBold", Helvetica, Arial, sans-serif;
  font-size: var(--font-grande);
}
.menu_contact_link, .menu_law_link{
  font-family: "TTHoves-Regular", Helvetica, Arial, sans-serif;
  font-size: var(--font-grande);
}
.menu_law_link{
  font-size: var(--font-small);
}



strong, .tag {
  font-family: "TTHoves-DemiBold", Helvetica, Arial, sans-serif;
  font-weight: inherit;
}

.tag {
  font-size: var(--font-big);
}

em {
  font-style: normal;
  font-family: "TTHoves-MediumItalic", Helvetica, serif, Arial, sans-serif;
}
  /* __________basic___________ */
.active{
  /* TO DO */
}
.activ_numb{

}
.hidden{
  display: none;
}
.pointer{
  cursor: pointer;
}
.space_top_12p {
  margin-top: var(--space12);
}
.space_top_20p {
  margin-top: var(--space20);
}
.padding_top_20p {
  padding-top: var(--space20);
}

.space_left_20p {
  margin-left: var(--space20);
}

.space_top_40p {
  margin-top: var(--space40);
}
.padding_top_40p {
  padding-top: var(--space40);
}

.space_top_80p {
  margin-top: var(--space80);
}

.space_bottom_20p {
  margin-bottom: var(--space20);
}

.space_bottom_40p {
  margin-bottom: var(--space40);
}

.space_bottom_80p {
  margin-bottom: var(--space80);
}
.padding_bottom_80p {
  padding-bottom: var(--space80);
}

/* __________________________________________________________________ */
#opener,

#about,
#survey,
.double_content,
.team_container,
#support,
footer,
.legal_nav,
.footer_container,
.two_col,
.legal_container {
  display: grid;
  width: 100%;
  grid-template-columns: 0px repeat(12, 1fr) 0px;
  grid-gap: 20px;
}

#support-m, #singel_text_head{
display: none;
}
.team_container, .legal_nav, .opener_pic {
  grid-template-columns: repeat(10, 1fr);
}

.two_col {
  grid-template-columns: repeat(5, 1fr);
  display: grid;
}

.grid_row_2{
  grid-row: 2;
}
.grid_row_1{
  grid-row: 1;
}

/* _________________________Header_________________________________________ */
.branding {
  /* grid-column: 2 / span 5;
  grid-row: 1; */
  z-index: 3;
}


#menu{
position: absolute;
top: 0rem;
left: 0px;
padding: 0em;
}
.quick_reach, .burger_container, .languages_cont{
  position: relative;
  top: 0.8rem;
}
.quick_reach{
  top: 0.6rem;
}

.quick_reach .menu_link{
  margin-left: 1.25rem;
  text-align: right;
  display: none;
}
.quick_reach .menu_link:first-of-type{
  margin-left: auto;
}


#hole_menu{
  background-color: var(--grey);
  height: auto;
  width: 100%;
  position: absolute;
  padding: 4rem 0em 3em 0em;
}

#menu, .mobile_menu_action, #menu .menu_open-close {
  /* grid-column: 5/ -2;
  grid-row: 1;
  margin-top: 20px; */
  justify-content: flex-end;
  z-index: 2;
}
#sec_menu{
margin-left: 0.8em;
}

.menu_link {
  grid-row: 1;
}



.first_menu_link, .menu_contact_link, .menu_law_link{
  margin: 0.5em 0.8rem;
}
.menu_law_link:first-of-type{
  margin: 1em 0.8rem;
}



.mobile_menu_action {
  display: none;
  /* ? */
}

.burger_container {
  padding-right: 0.8em;
  width: auto;
  height: 25px;
  display: inline-block;
}
.burger, .closer {
  margin-left: 1em;
  width: 38px;
  height: 28px;
  stroke:var(--black);
  stroke-width: 5;
  transform-origin: 50% 50%;
}
hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 4px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: var(--line_thick) solid var(--black);
}

hr:first-of-type {
  margin-top: 3px auto;
}

.closer hr {
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  margin-top: -7px;
}

.closer hr:first-of-type {
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -webkit-transform: rotate(-25deg);
  margin-top: 12px;
}

#menu .languages_cont{
  display: none;
}
#sec_menu .languages_cont{
  display: block;
}
.languages_cont {
  padding-right: 1em;
  position: relative;
}

.languages {
  display: grid;
  margin-left: 1.25em;
}
#sec_menu .languages_cont .languages{
  display: block;
  margin-left: 0rem;
}

.languages span {
  margin: 0px 0px 5px 0px;
  text-transform: uppercase;
  font-size: var(--font-xsmall);
}
#sec_menu .languages_cont .languages span{
float: left;
margin: 0px 0px 5px 0.8rem;
}

.show {
  display: block;
  /* ? */
}

.hide {
  display: none;
}

/* ________________________________Stack & Buttons__________________________________ */
.stack .stack_layer_text{
  padding: 1em;
}

.stack_1_layer {
  position: relative;
  z-index: 2;
  float: right;
}

.stack_1_layer, .stack_2_r, .stack_2_l {
  border: var(--line_thick) solid var(--black);
  width: 100%
}

.stack_2_r, .stack_2_l {
  position: relative;
  top: 10px;
  left: 6px;
}
.stack_2_l {
  left: -18px;
}

.click_stack_2_r, .click_stack_2_l {
  top: 0px!important;
  left: -5px !important;
}
.click_stack_2_l {
  left: -5px !important;
}

.stack_5_r, .stack_5_l {
  top: 28px;
  left: 28px;
  z-index: -3;
}

.substack_5_r, .substack_5_l {
  top: -13px;
  left: -13px;
}

.stack_5_l {
  left: -28px;
}

.substack_5_l {
  left: 13px;
}

.button_text {
  padding: 5px 20px;
  text-align: center;
}
.hover_react{
  background: var(--transparent);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.click_ani:visited .hover_react{
  background:
    repeating-linear-gradient(-45deg,
    var(--transparent) 0%,
    var(--transparent) 2%, var(--black) 2%,
    var(--black) 3%, var(--transparent) 3%);
}

.stack_content h3, .stack_content .quick_how, .stack_content .expand_how{
  padding: 0px 2rem ;
}

/* __________Double_pages___________ */
.double_page_desk{
position: fixed;
display: flex;
width: 100%;
z-index: -20;
height: 100%;
top: 0px;
}
.double_page_index span{
transform:rotate(-90deg);
text-align: center;
transform-origin: center center;
height: 1.5em;
width: 8em;
display: block;
}

.double_page{
  display: flex;
  flex-grow: 2;
}
.dpi_host{
  justify-content: flex-end;
}
.dpi_walzer{
  justify-content: flex-start;
}
.dpi_host div, .dpi_walzer div {
position: relative;
top: 50vh;
left:-3.6em;
}
.dpi_host div{
  left:3.8em;
}


.for_walzer{
  grid-column: 3 /span 4;
}
.walzer_breit{
  grid-column: 3 /span 5;
}

.for_host{
  grid-column: 9 /span 4;
}
.host_breit{
  grid-column: 8 /span 5;
}

.double_image{
  margin: 0 auto;
  display: inherit;
}
/* ______________________________________Opener____________________________ */
.mobile_opener_pic {
  display: grid;
  grid-column: 2/-2;
}

.opener_pic {
  display: none;
  grid-column: 1/-1;
}

.opener_pic img, .mobile_opener_pic img {
  grid-column: 2/-2;
  grid-row: 1;
  position: relative;
  width: 100%;
  height: auto;
}

.project_content, .about_content {
  grid-column: 2/-4;
}
/* ________________________how it works__________________________________________ */
.quick_how{

}

.numbers{
  display: flex;
  align-items: center;
}
.numbers hr{
  position: relative;
  border: 2;
  width: 3rem;
  height: 50px;
  background-color: red;
  margin: 0px
}
.number{
  border: var(--line_thick) solid var(--black);
  background-color: var(--white);
  border-radius: 50%;
  text-align: center;
  display: flex;
  width: 1.8em;
  height: 1.8em;
  position: relative;
  z-index: 1;
}

.number span{
  margin: auto auto;
}
.quick_step_contents{

}

/* ________________________join__________________________________________ */

.join {
  background-color: var(--yellow);
}

.join_content {
  /* grid-column: 3/-3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px; */
}

.join_walzer, .join_walzer_button {
  grid-column: 1/span 4;
}

.join_host, .join_host_button {
  grid-column: 7/span 4;
}


.join_host, .join_walzer {
  grid-row: 1;
}
/* –––––page–––––– */
.double_image_big{
/* TO DO */
}
/* ________________________survey__________________________________________ */

.survey {
  background-color: var(--blue_light);
}

.survey_text {
  grid-column: 1/-3;
}

.survey_content {
  grid-column: 3/-3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}

.col_2_team {
  grid-column: 6/span 6;
}

.col_1_team {
  grid-column: 1/span 5;
}

.about_team_1, .about_team_2 {
  grid-column: 1;
  margin-left: 6px;
  margin-right: -6px;
}

.about_team_2 {
  margin-left: 19px;
  margin-right: -19px;
}

.portrait {
  width: 200px;
  height: 100%;
  margin-right: -6px;
  margin-bottom: -7px;
}

.team_zitat_1, .team_zitat_2 {
  grid-column: 1/-1;
}
/* ________________________support__________________________________________ */
.support {
  background-color: var(--green);
}

.support_content {
  grid-column: 3/-3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 20px;
}






/* ________________________footer__________________________________________ */

footer {
  background-color: var(--black);
}
.legal_nav {
  grid-column: 2/-4;
}
.footer_container{
  grid-template-columns: repeat(12, 1fr);
  grid-column: 2/-2;
}
/* .footer_news, .footer_socialmedia, .footer_contact{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column:1 /-1;
}
.footer_news h2, .footer_socialmedia h2, .footer_contact h2{
  grid-column:1 /-1;
} */



.footer_col_1 {
  grid-column: 1/span 4;
}
.footer_col_2 {
  grid-column: 5/span 4;
}
.footer_col_3 {
  grid-column: 9/span 4;
}

.copyright {
  grid-column: -4/span 2;
}

.legal_container h2, .legal_container p, .legal_container h4, .legal_container ul {
  grid-column: 2/-4;
}

.sm_buttons a, .newsletter_button {
  display: block;
  float: left;
}
.sm_buttons a img{
  width: 2em;
  height: auto;
}
.newsletter_signin{

}

/* 640 */
@media screen and (min-width: 40em) {
.top-bar .top-bar-right{
  margin-left: 0px;
}
  .mobile_opener_pic {
    display: none;
  }
  .opener_pic {
    display: grid;
  }
  .quick_reach .menu_link{
    display: block;
  }
  .quick_reach .menu_link, #menu .languages_cont{
    display: block;
  }
  #sec_menu .languages_cont{
    display: none;
  }
  .burger_container {
    padding-right: 0em;
  }
}
/* 1024 */
@media screen and (min-width: 64em) {
:root{
  --font-small: 20px;
}


}
  @media only screen and (min-width:1260px) {
    :root {
      --line_thick: 0.25vw;
    }

  *, html{
        font-size: 1.2vw;
    }

  }
