@charset "UTF-8";

body {
  margin: 0px;
  width: 100%;
}

:root {
  --blue: #27348B;
  --black: #000;
  --white: #fff;
  --transparent: rgba(0, 0, 0, 0);
}
/* ________________________________Typo_________________________________ */
*{

  font-size: 1em;
}
h1{

}
h2{
font-size: 2.3em;
margin: 0px;
}
h3{

}

p{
  margin: 0px;
}

.small–brot_20{
font-size: 1em;
}
.big-brot{
font-size: 2.3em;
}

button{
  background-color: var(--transparent);
  border: 5px solid var(--black);
  color: var(--black);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* ________________________________Essentials_________________________________ */

.center{
  text-align: center;
}
.left{

}
.controler {
  align-self: end;
  grid-row: 1;
  cursor: crosshair;
}
.play{
  grid-column: 2;
}
.forward_opener{
  grid-column: -2;
  justify-self: end;
}
.backward{
  float:left;
  margin-right: 2vw;
}

.controler_skip{
  grid-column: -4 /span 2;
  justify-self: end;
}
/* ________________________________Absände_________________________________ */
.space_top_10v{
  margin-bottom: 10vh;
}

.space_buttom_20p{
  margin-bottom: 20px;
}

.space_buttom_10p{
  margin-bottom: 10px;
}

/* ________________________________Grids_________________________________ */
.full_grid{
  display: grid;
  width: 100%;
  grid-template-columns: 0px repeat(10, 1fr) 0px;
  grid-gap: 20px;
}
.half_grid_r,  .half_grid_l{
  grid-column: 7 /-1;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr) 0px;
  grid-gap: 20px;
}
.half_grid_l{
  grid-column: 1 /7;
    grid-template-columns: 0px repeat(5, 1fr);
}
/* ________________________________Header_________________________________ */
.header{
  position: absolute;
  width: 100%;
}
.logo_container{
  /* height: 30px; */
}
.logo_1, .logo_2{
  grid-column: 1 /-2;
  grid-row: 1;
}
.logo_2{
  justify-self: end;
}
.logo_1 img, .logo_2 img{
  height: 50px;
}
/* ________________________________Opener_________________________________ */
.opener{

}

.vid{
  height: 100%;
    width: 177.77777778vh; /* 100 * 16 / 9 */
    min-width: 100%;
    min-height: 56.25vw; /* 100 * 9 / 16 */
}

.trailer_container, .about_container{
position: relative;
width: calc(50% - 10px);
float: left;
transition: all 0.5s;
}
.trailer{
grid-column: 1 /-1;
/* height: 100vh; */
background-size:cover;
 border-radius: 99999px;
   grid-row: 1/-1;
}
.about_container{
  margin-left: 20px;
}
.about_section{
  height: 100%;
  grid-template-rows: 15vh auto auto 1fr;
}

.about, .about_button_row{
  grid-column: 1/-3;
  grid-row: 2;
}
.about_button_row{
  grid-row: 3;
}
.pfeil{
  grid-row: 4;
  grid-column: -3/span 1;
  align-self: end;
}
/* ________________________________segment_________________________________ */

.artist_trailer_container{
position: relative;
overflow: hidden;
grid-column: 1 /-1;
grid-row: 1/-1;
border-radius: 99999px;
z-index: -2;
}
/* .artist_trailer{
  grid-column: 1 /-1;
height: 100vh;
background-size: cover;
border-radius: 99999px;
grid-row: 1/-1;
} */
.artist{
  grid-column: 5/span 4;
  grid-row: 1;
  justify-self: center;
  align-self: end;
  display: grid;
}
.segment_button_row{
  justify-self: center;
}
/* ________________________________footer_________________________________ */

/* ________________________________MQ_________________________________ */
